.mdl-card__title {
    background-color: rgb(0,150,136);
    color: #fff;
}

.mdl-card {
    width: 100%;
}

.mdl-textfield__label.read-only-label {
    position: static;
    /*border-bottom: 1px solid rgba(0,0,0,.12);*/
    pointer-events: none;
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: rgba(0,0,0,.54);
}

.mdl-checkbox.is-upgraded {
    width: auto;
    margin-right: 30px;
}

.card-table {
    margin: 0 auto;
}

.card-table table {
    width: 100%;
}

.mdl-card__supporting-text.mdl-card--border,
.mdl-card.mdl-shadow--2dp {
    overflow: visible;
}

.mdl-data-table th.mdl-data-table__cell--non-numeric,
.mdl-data-table td.mdl-data-table__cell--non-numeric {
    text-align: center;
}

.mdl-card__supporting-text.card-table {
    overflow-x: visible;
}

.mdl-tooltip {
    max-width: 100%;
}

.mdl-cell.mdl-cup-card {
    margin-bottom: 20px;
}

.mdl-cup-card-icons {
    margin: 5px;
    height: 30px;
}

p.displayText {
    height: 24px;
}